<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
  <link rel="stylesheet" href="app.css" type="text/css" />
</head>

<body>
  <header>
    <h1>Tasks and <span>Bonus</span></h1>
    <h2>A single page application for learning Node.js tasks</h2>
  </header>

  <section class="form">
    <input id="taskInput" type="text" placeholder="Add a new task"></input>
  </section>

  <ul class="list">
  </ul>
<!--
    <li class="task">Do something <span>X</span></li>
    <li class="task done">Do it again</li>
    <li>Practice makes perfection</li>
  -->

  <script type="text/javascript" src="app.js"></script>
</body>
